<template>
  <div class="adder-box">
    <!-- {{this.$store.state.gather}} -->
    <transition name="move">
      <div class="minus" @click.stop="minus" v-show="countNum > 0">-</div>
    </transition>
    <div class="nums" v-show="countNum > 0">{{ countNum }}</div>
    <div class="add" @click.stop="add">+</div>
  </div>
</template>

<script>
export default {
  props: ["item"],
  data() {
    return {
      num: 0,
    };
  },
  mounted() {
    // console.log(this.item);
  },
  methods: {
    add() {
      this.$store.commit("add", this.item);
    },
    minus() {
      this.$store.commit("minus", this.item);
    },
  },
  components: {},
  computed: {
    countNum() {
      let num = 0;
      this.$store.state.gather.forEach((item) => {
        // console.log(item.name);
        if (item.name == this.item.name) {
          num = item.num;
        }
      });
      return num;
    },
  },
};
</script>

<style lang='less' scoped>
.adder-box {
  display: flex;
  .add {
    width: 20px;
    height: 20px;
    background: cornflowerblue;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 18px;
  }
  .nums {
    margin: 2px 6px;

    height: 18px;
    line-height: 18px;
  }
  .minus {
    width: 16px;
    height: 16px;
    border: 2px solid skyblue;
    border-radius: 50%;
    text-align: center;
    line-height: 14px;
    font-size: 22px;
    color: skyblue;
    font-weight: 600;
  }
}

.move-enter,
.move-leave-to {
  opacity: 0;
}

.move-enter-active,
.move-leave-active {
  transform: rotate(180deg);
  transition: all 0.6s;
}
</style>
