<template>
  <transition name="detail">
    <div class="detail-box" v-show="$store.state.detailShow">
      
      <div class="img-box">
        <van-icon name="arrow-left" class="icon" @click="detailShow" />
        <img :src="$store.state.detail.image" alt="" />
      </div>

      <div class="detail-text-box">
        <p class="text">{{ $store.state.detail.name }}</p>
        <div class="comment">
          <span>月售{{ $store.state.detail.sellCount }}份</span>
          <span>好评率{{ $store.state.detail.rating }}%</span>
        </div>
        <div class="price">
          <p>￥{{ $store.state.detail.price }}</p>
          <!-- <div class="cart">
         加入购物车
           
          </div> -->
           <adder :item="{name:$store.state.detail.name,price:$store.state.detail.price}" ></adder>
        </div>
      </div>
      <div class="gray-box"></div>

      <div class="message-box" v-show="$store.state.detail.info">
        <div class="message">商品信息</div>
        <div class="content">
          {{ $store.state.detail.info }}
        </div>
      </div>
      <div class="gray-box" v-show="$store.state.detail.info"></div>

      <!-- 下边是商品评价 -->
      <div class="appraise-box">
        <div class="appraise">商品评价</div>
        <div class="box-all">
          <div class="all" @click="index = 2" :class="index == 2 ? 'type' : ''">
            全部{{ $store.state.detail.ratings.length }}
          </div>
          <div
            class="recommend"
            @click="index = 0"
            :class="index == 0 ? 'type' : ''"
          >
            推荐{{ sum1 }}
          </div>
          <div
            class="disclose"
            @click="index = 1"
            :class="index == 1 ? 'type1' : ''"
          >
            吐槽{{ sum2 }}
          </div>
        </div>

        <div class="look-box">
          <div
            class="icon-box"
            @click="ontype"
            :class="typeShow ? 'looktype' : ''"
          >
            <van-icon class="icons" name="success" />
          </div>

          <div class="look">只看有内容的评价</div>
        </div>
      </div>
      <!-- 用户评论 -->
      <div class="user-box">

        <li
          v-for="(item, index) in $store.state.detail.ratings"
          :key="index"
          v-show="typeShow ? item.rateTime : item.text != ''"
        >
        
          <div class="time-box">
            <span class="time">{{ item.rateTime | formatDate }}</span>
            <div class="like-box">
            <van-icon class="like" name="good-job" v-show="item.rateType==0" />
             <div> {{ item.text }}</div>
              </div>
          </div>
          <span>
            {{ item.username }}
            <img :src="item.avatar" alt="" />
          </span>
        </li>
      </div>
    
    </div>
  </transition>
</template>

<script>
//引入加减组件
import adder from "./adder.vue"
export default {
  data() {
    return {
      index: 2,
      typeShow: false,
    };
  },
  mounted() {},
  updated() {},
  methods: {
    detailShow() {
      this.$store.state.detailShow = false;
    },
    ontype() {
      this.typeShow = !this.typeShow;
      // console.log(this.typeShow);
    },
  },
  components: {
    adder
  },
  computed: {
    //计算推荐
    sum1() {
      let num = 0;
      this.$store.state.detail.ratings.forEach((item) => {
        num += item.rateType == 0;
      });
      return num;
    },
    //计算吐槽
    sum2() {
      let num = 0;
      this.$store.state.detail.ratings.forEach((item) => {
        num += item.rateType == 1;
      });
      return num;
    },
  },
  filters: {
    formatDate(millisecond) {
      let time = new Date(millisecond);
      let month = time.getMonth() + 1; // 国际与国内区别
      let date = time.getDate();
      let hours = time.getHours();
      let minutes = time.getMinutes();

      if (month < 10) {
        month = "0" + month;
      }
      if (date < 10) {
        date = "0" + date;
      }
      if (hours < 10) {
        hours = "0" + hours;
      }
      if (minutes < 10) {
        minutes = "0" + minutes;
      }
      // 拼接正确格式返回
      return (
        time.getFullYear() +
        "-" +
        month +
        "-" +
        date +
        " " +
        hours +
        ":" +
        minutes
      );
    },
  },
};
</script>

<style lang='less' scoped>
.detail-box {
 
  width: 100%;
  height: 94%;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  .img-box {
    width: 100%;
    height: 400px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .icon {
    color: white;
    font-size: 20px;
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .detail-text-box {
    width: 100%;
    height: 100px;
    background: white;
    .text {
      padding-left: 20px;
      padding-top: 20px;
      font-weight: 800;
    }
    .comment {
      color: rgba(128, 128, 128, 0.664);
      margin-top: 10px;
      span {
        font-size: 12px;
        margin: 10px 20px;
      }
    }
    .price {
      color: red;
      display: flex;
      margin: 10px 0 0 20px;
      align-items: center;
      justify-content: space-between;
      .cart {
        width: 90px;
        height: 20px;
        background: skyblue;
        text-align: center;
        line-height: 20px;
        border-radius: 20px;
          color: white;
       
      }
    }
  }
  .gray-box {
    width: 100%;
    height: 20px;
    background: white;
    border-top: 1px rgba(128, 128, 128, 0.397) solid;
    border-bottom: 1px rgba(128, 128, 128, 0.356) solid;
  }
  .message-box {
    width: 100%;
    height: 100px;
    background: white;
    .message {
      padding: 10px 0 0 20px;
    }
    .content {
      margin-top: 10px;
      width: 80%;
      height: 30px;
      line-height: 20px;
      margin: 0 auto;
      font-size: 12px;
      color: rgba(128, 128, 128, 0.664);
    }
  }
  //下边是商品评价
  .appraise-box {
    width: 100%;
    height: 120px;
    background: white;
    padding: 10px 20px;
    border-bottom: 1px rgba(128, 128, 128, 0.315) solid;
    .look-box {
      width: 100%;
      display: flex;
      align-items: center;
      margin-top: 20px;

      .looktype {
        background: green !important;
      }
      .icon-box {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        background: gray;

        .icons {
          color: white;
          margin: 4px 4px;
        }
      }
      .look {
        margin-left: 5px;
      }
    }
  }
  .box-all {
    display: flex;
    margin-top: 30px;
    div {
      width: 50px;
      height: 30px;
    }
    .all {
      background: rgba(135, 207, 235, 0.39);
      text-align: center;
      line-height: 30px;
    }
    .recommend {
      background: rgba(135, 207, 235, 0.363);
      text-align: center;
      line-height: 30px;
      margin: 0 10px;
    }
    .disclose {
      background: rgba(128, 128, 128, 0.363);
      text-align: center;
      line-height: 30px;
    }
    .type {
      background: deepskyblue;
      color: white;
    }
    .type1 {
      background: gray;
      color: white;
    }
  }
  .user-box {
    width: 100%;
    background: white;
    li {
      width: 90%;
      height: 50px;
      border-bottom: 1px rgba(128, 128, 128, 0.205) solid;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .like-box {
        display: flex;
        align-items: center;
        margin-top: 4px;
        div {
          font-size: 12px;
          margin-left: 6px;
        }
        .like {
          color: skyblue;
        }
      }
      img {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        margin-left: 6px;
      }
      .time {
        color: gray;
        font-size: 12px;
      }
    }
  }
}

.detail-enter-active {
  animation: bounce-out 1s;
}
.detail-leave-active {
  animation: bounce-in 0.5s linear;
}
@keyframes bounce-out {
  0% {
    transform: translateX(500px);
  }
  50% {
    transform: translateX(0);
  }
}
@keyframes bounce-in {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(400px);
  }
}
</style>
