<template>
  <div class="footer" @click="hide">
    <div class="cort-box">
      <div class="cort">
        <div class="cort2" :class="sum!=0?'active2':''">
          <van-icon class="icon" name="shopping-cart" />
        </div>
      </div>
    </div>
    <div class="price" :class="sum != 0 ? 'active' : ''">￥{{ sum }}</div>
    <div class="extra">另需配送费￥4元</div>
    <div class="close" :class="sum >= 20?'active1':''">
      <span v-show="sum == 0"> ￥20元起送</span>
      <span v-show="sum > 0 && sum < 20">还差￥{{ 20 - sum }}元起送</span>
      <span v-show="sum >= 20" >去结算</span>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  mounted() {},
  methods: {
    hide() {
      this.$emit("hide");
    },
  },
  components: {},
  computed: {
    sum() {
      let num = 0;
      this.$store.state.gather.forEach((item) => {
        num += item.num * item.price;
      });
      return num;
    },
  },
};
</script>

<style lang='less' scoped>
.footer {
  width: 100%;
  height: 40px;
  background: #07111b;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  color: gray;
  justify-content: space-between;
  // z-index: -1;
  .cort-box {
    width: 70px;
    .cort {
      width: 40px;
      height: 40px;
      background: black;
      border-radius: 50%;
      text-align: center;
      line-height: 60px;
      position: absolute;
      top: -5px;
      left: 20px;
      .cort2 {
        width: 32px;
        height: 32px;
        background: rgba(128, 128, 128, 0.404);
        // background: skyblue;
        border-radius: 50%;
        margin: 6px auto;
        line-height: 36px;
      }
      .icon {
        font-size: 24px;
      }
    }
  }
  .price {
    width: 30px;
    height: 20px;
    border-right: 1px gray solid;
    text-align: center;
    line-height: 20px;
    margin-top: 10px;
  }
  .extra {
    height: 100%;
    width: 180px;
    line-height: 40px;
    padding-left: 20px;
    font-size: 12px;
  }
  .close {
    width: 100px;
    height: 100%;
    background: rgba(128, 128, 128, 0.212);
    text-align: center;
    line-height: 40px;
    font-size: 12px;
  }
  .active {
    color: white;
  }
  .active1 {
    background: green;
    color: white;
  }
  .active2 {
    background: aqua  !important;
    
    color: white;
  }
}
</style>
