<template>
  <div class="">
    <span class="span" v-show="num != 0">{{ num }}</span>
  </div>
</template>

<script>
export default {
  props: ["tab"],
  data() {
    return {};
  },
  mounted() {},
  methods: {},
  components: {},
  computed: {
    num() {
      let num = 0;
      this.$store.state.gather.forEach((item) => {
        if (item.type == this.tab) {
          num += item.num;
        }
      });
      return num;
    },
  },
};
</script>

<style lang='less'>
.span {
  position: absolute;
  right: 2px;
  top: 3px;
  display: block;
  width: 16px;
  height: 16px;
  background: orangered;
  color: white;
  text-align: center;
  line-height: 16px;
  border-radius: 50%;
}
</style>
