<template>
  <div class="big-box1" ref="leftList">
    
    <ul>
      <li
        v-for="(item, index) in list"
        :key="index"
        @click="tab(index)"
        :class="$store.state.ind == index ? 'active' : ''"
      >
        <img
          src="../views/goods/special_3@2x.png"
          alt=""
          v-if="item.name == '单人精彩套餐'"
        />
        <img
          src="../views/goods/discount_3@2x.png"
          alt=""
          v-if="item.name == '冰爽饮品限时特惠'"
        />
        <p>{{ item.name }}</p>
        <iconLeft :tab="item.name"></iconLeft>
      </li>
    </ul>
  </div>
</template>

<script>
//引入左侧徽标组件
import iconLeft from "./icon.vue"
export default {
  props: {
    list: Array,
  },
  data() {
    return {
 
    };
  },
  mounted() {
 
  },
  methods: {
    tab(i) {
      this.$store.commit("ind",i)
    },
  },
  components: {
    iconLeft
  },
  computed: {
        sum(){
          let num =0
          this.$store.state.gather.forEach(item=>{
            if(item.type=='热销榜'){
              num+=item.num
            }
          })
          return num
        }
  },
};
</script>

<style lang='less' scoped>
.big-box1 {
  width: 20%;
  display: flex;
  height: 65vh;
  overflow-y: scroll;
  ul {
    width: 100%;
    height: 100%;
    //   height: 100vh;
    //   overflow-x: scroll;
    li {
      width: 100%;
      height: 12%;
      background: rgba(128, 128, 128, 0.199);
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: relative;
    
    }
    img {
      width: 12px;
      height: 12px;
      margin: 0 4px;
    }
    p {
      font-size: 12px;
    }
  }
  .active {
    background: white;
  }
}
</style>
