<template>
  <transition name="fade">
    <div class="mack-box" v-show="showMack">
      <div class="title">{{ obj.name }}</div>
      <div class="grade-box">
        <span v-for="(item, index) in 4" :key="index">
          <img src="../assets/img/star24_on@3x.png" alt=""
        /></span>
        <span><img src="../assets/img/star36_off@2x.png" alt="" /></span>
      </div>

<!-- 优惠信息 -->
        <div class="discounts">
            <div  class="left"></div>
            <div  class="center">优惠信息</div>
            <div class="right"></div>
        </div>
        <ul class="message">
           
            <li v-for="(item,index) in obj.supports" :key="index">
              <img src="../views/header/decrease_1@2x.png" alt="" v-if="item.type==0">
              <img src="../views/header/discount_1@2x.png" alt=""  v-if="item.type==1">
              <img src="../views/header/special_1@2x.png" alt=""  v-if="item.type==2">
              <img src="../views/header/invoice_1@2x.png" alt=""  v-if="item.type==3">
              <img src="../views/header/guarantee_1@2x.png" alt=""  v-if="item.type==4">
                <p>{{item.description}}</p>
            </li>
           
        </ul>

        <!-- 商家公共 -->
        <div class="hint">
            <div  class="left"></div>
            <div  class="center">商家公告</div>
            <div class="right"></div>
        </div>

        <div class="footer">
            <p> {{obj.bulletin}}</p>
           
        </div>

      <div class="del" @click="hideMack">×</div>
    </div>
  </transition>
</template>

<script>
import { getSeller } from "@/api/get.js";
export default {
  props: {
    showMack: Boolean,
  },
  data() {
    return {
      obj: {},
     
    };
  },
  mounted() {
     
    getSeller().then((res) => {
      // console.log(res);
      this.obj = eval("(" + res + ")");
    });
  },
  methods: {
    hideMack() {
      this.$emit("hideMack");
    },
  },
  components: {},
  computed: {},
};
</script>

<style lang="less">
.mack-box {
  width: 100%;
  height: 100%;
  background: #1e252dec;
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  .title {
    color: white;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    margin-top: 60px;
  }
  .grade-box {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    span {
        margin: 0 10px;
        img {
            width: 20px;
            height: 20px;
        }
    }
  }
  //优惠信息样式
  .discounts{
      color: white;
      text-align: center;
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .left {
         width: 120px;
          border-top: 1px rgba(255, 255, 255, 0.466) solid;
      }
     
      .right {
          width: 120px;
          border-top: 1px rgba(255, 255, 255, 0.438) solid; 
      }
  }
  //优惠列表
  .message {
      color: white;
      margin: 20px 0;
      li {
          font-size: 12px;
          margin: 10px 0 10px 40px ;
          display: flex;
          align-items: center;
          img {
            width: 15px;
            height: 15px;
          }
          p {
            margin-left: 6px;
          }
      }
  }
  .hint {
       color: white;
      text-align: center;
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .left {
         width: 120px;
          border-top: 1px rgba(255, 255, 255, 0.466) solid;
      }
     
      .right {
          width: 120px;
          border-top: 1px rgba(255, 255, 255, 0.438) solid; 
      }
  }
  .footer {
      width: 100%;
      color: white;
        p {
            width: 300px;
            font-size: 12px;
            height: 150px;
            margin: 0 auto;
            line-height: 20px;
            margin-top: 20px;
        }
  }
}

.del {
  color: white;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  margin-top: 80px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.6s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
