<template>
  <div class="box" ref="refCon" @scroll="myscr">
    <ul>
      <div class="right-box" v-for="(item, index) in rightList" :key="index" ref="refli" >
        <div class="title">{{ item.name }}</div>

        <li v-for="(it, index) in item.foods" :key="index" class="lis" @click="skipDetail(it)">
          <div class="img-box">
            <img :src="it.image" alt="" />
          </div>
          <div class="presentation">
            <p class="name">{{ it.name }}</p>
            <p class="description">{{ it.description }}</p>
            <p class="sellCount">
              月售{{ it.sellCount }}份 好评率{{ it.rating }}
            </p>
            <p class="price">
              <span> ￥{{ it.price }}</span>
              <adder :item="{ name: it.name, price: it.price,type:item.name }"></adder>
            </p>
          </div>
        </li>
      </div>
    </ul>
  </div>
</template>

<script>
//键入加减器组件
import adder from "../components/adder.vue";
export default {
  props: {
    rightList: Array,
  },
  data() {
    return {
      sel: [],
    };
  },
  mounted() {
    
    //  console.log(this.$refs,refCon);
  },
  updated() {
    this.$store.commit("refCon", this.$refs.refCon);

      this. scrFn()
  },
  methods: {
    //点击跳转详情
    skipDetail(it){
     this.$store.commit("skipDetail",it)
     this.$store.state.detailShow=true
    },


    //右侧滚动列表事件
    myscr() {
     this.$store.commit("setLeft")


    },
    scrFn() {
      let myli = this.$refs.refli  //获取所有的中盒子
      // Array.from(myli);
      // console.log(myli);
      let hei = 0;  //保存每一项的高
      let arr = []
      arr.push(0);
      myli.forEach((item) => {
       arr.push((hei += item.offsetHeight));
      });
      this.$store.commit("setArr",arr)
    },
  },
  components: {
    adder,
  },
  computed: {},
};
</script>

<style lang='less' scoped>
.box {
  width: 80%;
  height: 65vh;
  overflow-y: scroll;

  ul {
    width: 92%;
    height: 100%;

    .right-box {
      width: 100%;

      .title {
        width: 100%;
        height: 26px;
        background: rgba(128, 128, 128, 0.116);
        line-height: 26px;
        font-size: 12px;
        padding-left: 20px;
        border-left: 2px gray solid;
      }
    }

    li {
      width: 100%;
      height: 100px;
      display: flex;
      .img-box {
        width: 60px;
        height: 50px;
        margin: 10px 10px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .presentation {
        width: 70%;
        .name {
          margin-top: 10px;
        }
        .description,
        .sellCount {
          color: gray;
          font-size: 10px;
          margin: 8px 0;
        }
        .price {
          span {
            color: red;
          }
          height: 26px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
}
</style>
