<template>
    <div class="star-box">
        <ul  >
            <li class="img-li" v-for="(item,index) in 4" :key="index">
                <img src="../assets/img/star24_on@3x.png" alt="">
            </li>
                <slot></slot>
        </ul>
    </div>
</template>

<script>
export default {
    data() {
        return {};
    },
    mounted() {},
    methods: {},
   components:{},
computed:{}
};
</script>

<style lang='less' scoped>
.star-box {
    width: 100px;
   ul {
       display: flex;
      
        .img-li {
        width: 14px;
        height: 14px;
        margin: 8px 4px;
        img {
            width: 14px;
            height: 14px;
        }
    }
   }
   
}
</style>
