<template>
  <div class="">
    <div class="header">
      <div class="left-box">
        <p class="name-p">{{ obj.name }}</p>
        <div class="estimate">
          <star class="star">
            <img
              class="star-img"
              src="../../assets/img/star24_off@3x.png"
              alt=""
            />
          </star>
          <div class="ratingCount">({{ obj.ratingCount }})</div>
          <div class="sellCount">月售{{ obj.sellCount }}单</div>
        </div>
      </div>
      <!-- 下边是点击收藏 -->
      <div class="collect-box">
        <van-icon
          name="like"
          :class="show ? 'active' : ''"
          class="collect-icon"
          @click="oncollect"
        />
        <div class="collect">{{ show ? "已收藏" : "收藏" }}</div>
      </div>
    </div>
    <!-- 下边是配送时间 -->
    <div class="delivery-box">
      <div>
        <p>起送价</p>
        <h3>{{ obj.minPrice }} <span>元</span></h3>
      </div>
      <div>
        <p>商家配送</p>
        <h3>{{ obj.deliveryPrice }} <span>元</span></h3>
      </div>
      <div class="delivery-time">
        <p>平均配送时间</p>
        <h3>{{ obj.deliveryTime }} <span>分钟</span></h3>
      </div>
    </div>

    <div class="separation"></div>

    <div class="affiche-box">
      <h3>公告与活动</h3>
      <div class="affiche">
        {{ obj.bulletin }}
      </div>

      <ul>
        <li v-for="(item, index) in obj.supports" :key="index">
          <img
            src="../../assets/img/decrease_4@2x.png"
            alt=""
            v-if="item.type == 0"
          />
          <img
            src="../../assets/img/discount_4@2x.png"
            alt=""
            v-if="item.type == 1"
          />
          <img
            src="../../assets/img/special_4@2x.png"
            alt=""
            v-if="item.type == 2"
          />
          <img
            src="../../assets/img/invoice_4@2x.png"
            alt=""
            v-if="item.type == 3"
          />
          <img
            src="../../assets/img/guarantee_4@2x.png"
            alt=""
            v-if="item.type == 4"
          />
          <div>{{ item.description }}</div>
        </li>
      </ul>
    </div>
    <div class="separation"></div>

    <!-- 商家实景 -->
    <div class="live-shot">
      <div class="live-box">
        <p>商家实景</p>
      </div>
      <div class="live-img">
        <ul>
          <li v-for="(item, index) in obj.pics" :key="index">
            <img :src="item" alt="" />
          </li>
        </ul>
      </div>
    </div>
    <div class="separation"></div>
    <!-- 商家信息 -->

    <div class="introduce-box">
      <div class="introduce">
        <p>商家信息</p>
      </div>
      <ul>
        <li v-for="(item,index) in obj.infos" :key="index">
          {{item}}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { getSeller } from "@/api/get.js";
//引入星星组件
import star from "../../components/star.vue";
export default {
  data() {
    return {
      obj: {},
      show: false,
    };
  },
  mounted() {
    getSeller().then((res) => {
      this.obj = eval("(" + res + ")");
    });
  },
  methods: {
    oncollect() {
      this.show = !this.show;
    },
  },
  components: {
    star,
  },
  computed: {},
};
</script>

<style lang='less'>
.header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  border: none;
  .left-box {
    width: 86%;
    .name-p {
      margin-left: 20px;
      color: gray;
    }
    .star {
      margin-left: 16px;
    }
    .star-img {
      width: 14px;
      height: 14px;
      margin-top: 8px;
    }
    .estimate {
      display: flex;
      align-items: center;
      .sellCount,
      .ratingCount {
        color: gray;
        font-size: 12px;
        margin: 0 8px;
      }
    }
  }
  //点击收藏样式
  .collect-box {
    width: 14%;
    .collect-icon {
      font-size: 22px;
      color: rgba(128, 128, 128, 0.555);
    }
    .collect {
      color: gray;
      font-size: 12px;
      margin-top: 10px;
    }
    .active {
      color: red;
    }
  }
}
.delivery-box {
  width: 100%;
  display: flex;
  height: 60px;
  align-items: center;

  div {
    width: 33%;
    height: 36px;
    text-align: center;
    border-right: 1px rgba(128, 128, 128, 0.575) solid;
    p {
      color: gray;
      font-size: 14px;
    }
    h3 {
      font-size: 18px;
      margin-top: 6px;
      span {
        font-size: 10px;
      }
    }
  }
  .delivery-time {
    border-right: none;
  }
}
.separation {
  width: 100%;
  height: 20px;
  background: rgba(128, 128, 128, 0.089);
  border-top: 1px rgba(128, 128, 128, 0.13) solid;
  border-bottom: 1px rgba(128, 128, 128, 0.13) solid;
}

.affiche-box {
  width: 100%;
  h3 {
    margin: 20px 0 0 20px;
  }
  .affiche {
    width: 80%;
    margin: 10px auto;
    color: red;
    line-height: 26px;
    font-size: 12px;
  }
  ul {
    width: 80%;
    margin: 8px auto 0 auto;
    li {
      margin: 30px 0;
      display: flex;
      align-items: center;
      img {
        width: 16px;
        height: 16px;
      }
      div {
        font-size: 12px;
        margin-left: 10px;
      }
    }
  }
}

.live-shot {
  width: 100%;
  height: 120px;

  .live-box {
    width: 100%;
    height: 30px;
    p {
      margin: 20px 0 0 20px;
    }
  }
  .live-img {
    width: 95%;
    margin: 0 auto;
   

    ul {
      width: 100%;
      display: flex; 
        overflow-x: auto;
      li {
        width: 130px;
        height: 70px;
        margin: 0 4px;
        flex-shrink: 0;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
 
}

 .introduce-box {
    width: 100%;
    .introduce {
      width: 100%;
      p {
        margin: 20px 20px;
      }
    }
    ul {
      width: 90%;
      margin: 0 auto;
      li {
        height: 40px;
        line-height: 40px;
        border-top: 1px rgba(128, 128, 128, 0.096) solid;
        color: gray;
        font-size: 12px;
      }
    }
  }
</style>
