<template>
<div id="app">
    <Header></Header>
    <Tab></Tab>
   
    
</div>
    
</template>

<script>
import Header from "@/views/header/header.vue"
import Tab from "@/views/tab/tab.vue"


export default {
   name: 'app',
   components:{
     Header,
     Tab
    },
}
</script>

<style lang="less" >
// 注意这里是全局样式，不用scoped
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 14px;
    font-weight: normal;
    vertical-align: baseline;
}


::-webkit-scrollbar {
    display: none;

}

article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
html,body{
    line-height: 1;
    font-weight: 200;
    font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* custom */
a {
    color: #7e8c8d;
    text-decoration: none;
    -webkit-backface-visibility: hidden;
}

li {
    list-style: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

html, body {
    width: 100%;
}

body {
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.clearfix{
    display:inline-block;
}
.clearfix:after {
    display: block;
    content: ".";
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}
</style>