<template>
  <div id="header">
    
    <div class="header-box" @click="showMack">
      <img :src="obj.avatar" alt="" class="img" />

      <div class="text-box">
        <div class="textImg-box">
          <img :src="obj.avatar" alt="" />
        </div>
        <div>
          <div class="name-box">
            <img src="./brand@2x.png" alt="" />
            <h3>{{ obj.name }}</h3>
          </div>

          <div class="timeSend">
            <p>{{ obj.description }}/{{ obj.deliveryTime }}分钟送达</p>
          </div>

          <div class="pay">
            <img src="./decrease_1@2x.png" alt="" />
            <p>在线支付满28减5</p>
          </div>
        </div>
        <div class="discounts-box">
             <div class="discounts">5个 <span>></span></div>
        </div>
       
      </div>

      <div class="notify">
        <img src="./bulletin@2x.png" alt="" />
        <p>{{ obj.bulletin }}</p>
        <span class="right">></span>
      </div>
    </div>
    <!-- 遮罩层组件 -->
    <mack  :showMack="show" @hideMack="hideMack"></mack>
   
  </div>
</template>

<script>

import { getSeller } from "@/api/get.js"
//引入遮罩层组件
import mack from "../../components/mack.vue"


export default {
  data() {
    return {
      obj: {},
      show:false,
      arr:[1,2,3,3,4,4],
      arr1:[]
    };
  },
  components: {
    mack,
  
  },
  methods: {
   //点击显示遮罩层
   showMack(){
     this.show=true
    
   },
   //点击隐藏遮罩层
   hideMack(){
     this.show=false
   }
  },
  created() {},
  mounted() {
 
    getSeller().then((res) => {
      this.obj = eval("(" + res + ")");
      // console.log(this.obj);
    });
  },
};
</script>

<style lang="less" scoped >
* {
  padding: 0;
  margin: 0;
  list-style: none;
}
#header {
  overflow: hidden;
}

.header-box {
  width: 100%;
  height: 150px;
  background: rgba(0, 0, 0, 0.459);
  position: relative;

  .img {
    width: 100%;
    height: 100%;
    filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .text-box {
    width: 100%;
    height: 126px;
    display: flex;
    align-items: center;
    .textImg-box {
      width: 80px;
      height: 80px;
      margin-left: 24px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .name-box {
      display: flex;
      color: white;
      align-items: center;

      img {
        width: 30px;
        height: 20px;
        margin: 5px 10px;
      }
      h3 {
        font-weight: 800;
      }
    }
    .timeSend {
      color: white;
      p {
        font-size: 10px;
        margin: 5px 10px;
      }
    }
    .pay {
      color: white;
      display: flex;
      img {
        width: 12px;
        height: 12px;
        margin: 5px 10px;
      }
      p {
        font-size: 10px;
        margin-top: 5px;
      }
    }
    .discounts-box {
   
        .discounts {
      background: rgba(0, 0, 0, 0.322);
      width: 40px;
      height: 22px;
      border-radius: 20px;
      color: white;
      font-size: 12px;
      text-align: center;
      line-height: 20px;
    }
    }
  
  }

  .notify {
    width: 100%;
    background: rgba(0, 0, 0, 0.274);
    height: 24px;
    display: flex;
    font-size: 20px;
    align-items: center;

    color: white;

    img {
      width: 30px;
      height: 16px;
      margin-left: 12px;
      margin-right: 6px;
    }
    p {
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      height: 100%;
      line-height: 24px;
    }
    .right {
      margin-right: 6px;
    }
  }
}
</style>
