<template>
  <div class="goods-box">
    <div class="list-box">
      <list :list="list"></list>
      <rightList :rightList="list"></rightList>
    </div>
    <transition name="right">
      <div class="cart-big-box" @click="show = false" v-if="show">
        <div class="cart-list">
          <li
            v-for="(item, index) in $store.state.gather"
            :key="index"
            class="price-li"
            @click.stop="ad"
          >
            <div class="name-price">
              <span class="span-name">{{ item.name }}</span>
              <span class="span-price">￥{{ item.price }}</span>
            </div>
            <div class="js">
              <adder
                class="adder"
                :item="{ name: item.name, price: item.price }"
              ></adder>
            </div>
          </li>
        </div>

        <div class="ad" @click.stop="ad">
          <p class="gwc">购物车</p>
          <p class="qd" @click="delAll">清空</p>
        </div>
      </div>
    </transition>
    <detail></detail>
    <footers @hide="hide"></footers>
  </div>
</template>

<script>
import { getGoods } from "@/api/get.js";
//引入列表组件
import list from "../../components/list.vue";
//引入左边列表组件
import rightList from "../../components/rightList.vue";
//引入底部组件
import footers from "../../components/footer.vue";
//引入计数器组件
import adder from "../../components/adder.vue";
//引入详情页组件
import detail from "../../components/detail.vue";
export default {
  name: "goods",
  data() {
    return {
      list: [], //ajax商品请求数据
      show: false,
    };
  },
  components: {
    list,
    footers,
    rightList,
    adder,
    detail,
  },
  methods: {
    hide() {
      this.show = true;
    },
    ad() {
      //   console.log(1);
    },
    delAll() {
      this.$store.state.gather = [];
    },
    steheight() {},
  },
  computed: {},
  async mounted() {
    //1.axios传统请求数据-axios原生方法里返回的是promise对象，所以用数据时需要获取promise里面data,用res.data获取
    //  this.$http.get('data/goods.json').then(res=>{
    // 	  console.log(11,res)
    //       this.list=eval(res.data)
    // 	 // console.log(this.list)
    //    })

    //2.axios在次封装请求数据-注意封装方法里，已经用promise在次包装了，返回的是直接数据，不用在res.data了,直接res
    getGoods().then((res) => {
      this.list = eval(res);
      // console.log(this.list);
    });

    //3.async,await调用数据方法
    // let {data:res}=await getGoods()
    //  console.log(res);
    //   this.list=res
  },
};
</script>

<style lang="less" scoped>
.goods-box {
  // display: flex;
  width: 100%;
  //   height: calc(80vh - 10px);
  .list-box {
    width: 100%;
    display: flex;
    // background: red;
  }
  .cart-big-box {
    width: 100%;
    height: 94%;
    background: rgba(0, 0, 0, 0.247);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    .ad {
      width: 100%;
      height: 40px;
      background: white;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px slategray solid;
      p {
        line-height: 40px;
      }
      .gwc {
        margin-left: 20px;
      }
      .qd {
        margin-right: 20px;
        color: darkcyan;
      }
    }
    .cart-list {
      width: 100%;
      background: white;

      .price-li {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .span-name {
          margin-left: 18px;
        }
        .span-price {
          color: red;
        }
        .name-price {
          width: 70%;
          display: flex;
          justify-content: space-between;
        }
        .js {
          width: 30%;
          height: 100%;
          // background: red;
          position: relative;
          .adder {
            position: absolute;
            top: 14px;
            left: 40px;
          }
        }
      }
    }
  }

  .right-enter-active {
    animation: bounce-in 0.5s;
  }
  .right-leave-active {
    animation: bounce-in 0.5s reverse;
  }
  @keyframes bounce-in {
    0% {
      transform: translateY(50px);
    }
    100% {
      transform: translateY(0);
    }
  }


}
</style>


