<template>
	<div id="tab">
      <ul>
        <li class="tab-item" @click="ind=0" :class="ind==0?'active':''"> 
        	<router-link to="/goods">商品</router-link>
        </li>
        <li class="tab-item"  @click="ind=1" :class="ind==1?'active':''">
        	<router-link to="/ratings">评论</router-link>
        </li>
        <li class="tab-item"  @click="ind=2" :class="ind==2?'active':''">
        	<router-link to="/seller">商家</router-link>
        </li>
      </ul>
	   <!-- 列表组件 -->
     
	  <router-view></router-view>        
    </div>

</template>
<script>

	export default{
		
		data() {
			return {
					ind:0
			}
		},
		
		
	}
</script>
<style lang="less" scoped>
    .router-link-active{
        color: red;
	}
	#tab{
		width:100%;
		border-bottom:0.01rem solid rgba(7,17,27,0.1);
		ul{
			display:-webkit-flex;
			display:flex;
			height:40px;
			line-height:40px;
		}
		.tab-item{
			flex-grow:1;
			text-align:center;
			line-height:40px;
			font-size:0.28rem;
			.active{
		      color:rgb(240,20,20);
	        }
			a{
				display:block;
				font-weight:bold;
        	}
	  }
	}

	.active {
		border-bottom: 2px red solid;
	}
	

</style>