<template>
  <div class="">
    <div class="evaluate-box">
      <div class="left-box">
        <h2>{{ obj.score }}</h2>
        <p class="synthesize">综合评分</p>
        <p class="nearby">高于周边商家{{ obj.rankRate }}%</p>
      </div>

      <div class="right-box">
        <div class="serve">
          <span>服务态度</span>
          <star>
            <img src="../../assets/img/star36_off@2x.png" alt="" />
          </star>
        </div>
        <div class="commodity">
          <span> 商品评分 </span>
          <star>
            <img src="../../assets/img/star36_off@2x.png" alt="" />
          </star>
        </div>
        <div class="delivery-box">
          <span class="delivery"> 送达时间 </span>
          <span class="delivery-time">{{ obj.deliveryTime }}分钟</span>
        </div>
      </div>
    </div>
    <div class="separation"></div>
    <!-- 下边是评论 -->
    <div class="evaluates-box">
      <div class="all-box">
        <div class="all" @click="ind=2" :class="ind==2?'alltype':''">全部 {{ sel.length }}</div>
        <div class="like" @click="ind=0"  :class="ind==0?'alltype':''">满意 {{ sum }}</div>
        <div class="nolike" @click="ind=1"  :class="ind==1?'notype':''">不满意 {{ sum1 }}</div>
      </div>
      <!-- 点击看有内容评价 -->
      <div class="havecontent">
        <div class="have" @click="onhave" :class="haveshow?'havetype':''">
          <van-icon name="success" class="have-icon" />
        </div>
        <div class="content-box">只看有内容的评价</div>
      </div>
    </div>
<!-- haveshow?item.text:item.username|| -->
    <div class="footer-box">
      <div class="footer" v-for="(item, index) in sel" :key="index" v-show="haveshow?item.text:item.username">
         <div  v-show="ind==2?item.username:ind==item.rateType">
        <div class="top-box">
          <div class="top">
            <img :src="item.avatar" alt="" />
            <div>
              <p>{{ item.username }}</p>
              <div class="star-box">
                <img
                v-for="(item,index) in Math.floor(item.score)" :key="index"
                  class="img"
                  src="../../assets/img/star24_on@3x.png"
                  alt=""
                />
                   <div>
                   <img
                  class="img"
                  src="../../assets/img/star36_off@2x.png"
                  alt=""
                  v-for="(item,index) in 5-item.score" :key="index"
                />
              </div>

              </div>
             
            </div>
          </div>
          <div class="time">
            {{ item.rateTime | fromData }}
          </div>
        </div>
        <!-- 评论内容盒子 -->
        <div class="plcontent">
            <p>{{item.text}}</p>
            <ul>
               <li v-for="(ele,index) in item.recommend" :key="index">{{ele}}</li>
            </ul>
        </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getSeller } from "@/api/get.js";
//引入星星组件
import star from "../../components/star.vue";
//引入用户评论组件
import { getRatings } from "@/api/get.js";
export default {
  data() {
    return {
      obj: {},
      sel: [],
      haveshow:false,
      flag:false,
      ind:2,
      num:5
    };
  },
  mounted() {
    getSeller().then((res) => {
      this.obj = eval("(" + res + ")");
    });

    getRatings().then((res) => {
      this.sel = res;
    });
  },
  methods: {
     onhave(){
         this.haveshow=!this.haveshow
      
     }
  },
  components: {
    star,
  },
  computed: {
    sum() {
      let num = 0;
      this.sel.forEach((item) => {
        num += item.rateType == 0;
      });
      return num;
    },
    sum1() {
      let num = 0;
      this.sel.forEach((item) => {
        num += item.rateType == 1;
      });
      return num;
    },
  },
  filters: {
    fromData: (millisecond) => {
      let time = new Date(millisecond);
      let month = time.getMonth() + 1; // 国际与国内区别
      let date = time.getDate();
      let hours = time.getHours();
      let minutes = time.getMinutes();
      // let second = time.getSeconds() // 获取秒数
      // 小于10前加一个0
      if (month < 10) {
        month = "0" + month;
      }
      if (date < 10) {
        date = "0" + date;
      }
      if (hours < 10) {
        hours = "0" + hours;
      }
      if (minutes < 10) {
        minutes = "0" + minutes;
      }
      // 拼接正确格式返回
      return (
        time.getFullYear() +
        "-" +
        month +
        "-" +
        date +
        " " +
        hours +
        ":" +
        minutes
      );
    },
  },
};
</script>

<style lang='less' scoped>
.alltype {
   background: cornflowerblue  !important;
   color: white;
}
.notype {
   background: grey  !important;
   color: white;
}
.evaluate-box {
  width: 100%;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  .left-box {
    width: 30%;
    height: 90px;
    border-right: 1px rgba(128, 128, 128, 0.322) solid;
    text-align: center;

    h2 {
      color: orange;
      font-size: 22px;
      margin-top: 20px;
    }
    .synthesize {
      font-size: 12px;
      margin-top: 6px;
    }
    .nearby {
      color: gray;
      font-size: 10px;
      margin-top: 6px;
    }
  }
  .right-box {
    width: 60%;
    height: 90px;
    margin-left: 26px;
    .serve {
      display: flex;
      align-items: center;
      img {
        width: 16px;
        height: 16px;
        margin-top: 7px;
      }
      span {
        font-size: 12px;
      }
    }
    .commodity {
      display: flex;
      align-items: center;
      img {
        width: 16px;
        height: 16px;
        margin-top: 7px;
      }
      span {
        font-size: 12px;
      }
    }
    .delivery-box {
      margin-top: 6px;
      .delivery {
        font-size: 12px;
      }
      .delivery-time {
        font-size: 10px;
        color: gray;
        margin-left: 10px;
      }
    }
  }
}

.separation {
  width: 100%;
  height: 20px;
  background: rgba(128, 128, 128, 0.089);
  border-top: 1px rgba(128, 128, 128, 0.13) solid;
  border-bottom: 1px rgba(128, 128, 128, 0.13) solid;
}

.evaluates-box {
  width: 100%;
  height: 100px;
  border-bottom: 1px rgba(128, 128, 128, 0.274) solid;
  .all-box {
    display: flex;
    margin: 20px 0 0 20px;
    div {
      width: 70px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      margin: 0 6px;
    }
    .all,
    .like {
      background: rgba(135, 207, 235, 0.473);
      font-size: 14px;
    }
    .nolike {
      background: rgba(128, 128, 128, 0.356);
      font-size: 14px;
    }
  }

  .havecontent {
    display: flex;
    margin: 30px 0 0 24px;
    align-items: center;
    .havetype {
       background: green  !important;
    }
    .have {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: rgba(128, 128, 128, 0.452);
      .have-icon {
        color: white;
        margin-left: 2px;
        line-height: 20px;
      }
    }
    .content-box {
      color: gray;
      font-size: 12px;
      margin-left: 6px;
    }
  }
}

.footer-box {
  width: 100%;
  .footer {
    width: 100%;
   //  height: 120px;
   //  border-bottom: 1px rgba(128, 128, 128, 0.171) solid;
    .top-box {
      width: 90%;
      display: flex;
      align-items: center;
      margin: 10px auto 0 auto;
      justify-content: space-between;
      height: 30px;
      .star-box {
        height: 20px;
        margin-left: 10px;
        margin-top: 2px;
        width: 100px;
        display: flex;
        .img {
          width: 12px;
          height: 12px;
        }
      }
      .top {
        display: flex;
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
        p {
          font-size: 12px;
          margin-left: 10px;
        }
      }
    }
    .time {
      font-size: 12px;
      color: gray;
    }

     .plcontent {
       width: 80%;
       margin: 0 auto;
       margin-top: 10px;
       height: 70px;
      //  background: red;
       p {
          font-size: 12px;
       }
       ul {
          display: flex;
          flex-wrap: wrap;
          width: 90%;
         margin-top: 10px;
          height: 10px;
          li {
             border: 1px gray solid;
             margin: 1px 4px;
             font-size: 12px;
             color: gray;
             padding: 2px;
          }
       }
    }
   
  }
  
}
</style>


